node_modules
dist
blog-main
chat
admin-dashboard
*.local
blog-plan.md
chat-plan.md

# Editor directories and files
.claude
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env